== render partial: 'admin/common/breadcrumb', locals: {breadcrumbs: [{title: t('event'), link: admin_events_path}, {title: t('helpers.edit')}], headers: {title: event.title}, right_title: nil}
.row
  .col-lg-12
    == render 'form'
