== render partial: 'admin/common/breadcrumb', locals: {breadcrumbs: [{title: t('event'), link: admin_events_path}, {title: t('helpers.add')}], headers: {title: t('helpers.add')}, right_title: nil}
.row
  .col-lg-12
    == render 'form'
