//= require PixelAdmin/bootstrap
//= require PixelAdmin/pixeladmin
//= require PixelAdmin/widgets
//= require PixelAdmin/themes/default.min


.widget-chat-item.right { margin-right: 0; }

#visitor_table {
  tbody tr {
    cursor: pointer;
  }
}

#chat_modal {
  .messages {
    max-height: 480px;
    overflow-y: auto;
  }
}
