// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require Polo/bootstrap/bootstrap.min
//= require Polo/animateit/animate.min
//= require Polo/owlcarousel/owl.carousel
//= require Polo/magnific-popup/magnific-popup
//= require Polo/theme-base
//= require Polo/theme-elements
//= require Polo/responsive
//= require Polo/color-variations/green-light
//= require Polo/custom

@import "font-awesome";
@import "fonts";


.text-right .heading:after {
  float: right;
}

.right_side {
  @media (max-width: 991px) {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    & > div:first-child {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
    }
    & > div:last-child {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
    }
  }

  @media (max-width: 767px) {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    & > div:first-child {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
    }
    & > div:last-child {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
    }
  }
}
